@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import "scroll.css";
@import "button.css";
@import "articles.css";
@import "authors.css";

:root {
    --dark: #22272b;
    --green: #13C1A3;
    --grey: #585251;
    --light-grey: #2d3236;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    justify-content: center;
}

body {
    width: 62vw;
    background-color: var(--light-grey);
    color: white;
    font-size: 1.2rem;
}

span {
    font-weight: bold;
    margin: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

textarea {
    height: 25vh;
}

.bg-grey {
    background-color: #2d3236;
}

.bg-dark {
    background-color: var(--dark);
}

.bg-green {
    background-color: var(--green);
}

.m-3 {
    margin: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.navbar {
    width: 100%;
    height: 19vh;
    border-left: 3px solid var(--green);
    border-right: 3px solid var(--green);
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar a {
    transition: 0.5s all;
}

.navbar a:hover {
    background-color: var(--green);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.container {
    border: 3px solid var(--green);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    height: 68vh;
}

.input {
    width: 100%;
    background-color: var(--light-grey);
    color: white;
    font-size: 1rem;
    border: 0.1rem solid rgba(182, 187, 196, 0.3);
    border-radius: 0.2rem;
    padding: 0.5rem 0.3rem;
    outline: none;
    transition: 0.2s all;
}

.select {
    width: 15vw;
    border-radius: 10%;
    padding: 2rem;
    flex-direction: column;
}

.select select {
    width: 100%;
    height: 50%;
    padding: 10px;
    background-color: var(--light-grey);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.2s all;
}

.select select:focus {
    outline: none;
}

.select select option {
    color: white;
    background-color: var(--light-grey);
}

.select select option:checked {
    outline: none;
    background-color: var(--green);
}

.justify {
    white-space: -moz-pre-wrap !important;
    white-space: -webkit-pre-wrap;
    word-break: break-all;
    white-space: normal;
}

.green-hover:hover {
    background-color: var(--green);
    cursor: pointer;
}

.green-border-focus:hover,
.green-border-focus:focus {
    border-color: var(--green);
}